<h2 mat-dialog-title *ngIf="!buildingId">Agregar edificio</h2>
<h2 mat-dialog-title *ngIf="buildingId">Editar edificio</h2>
<form [formGroup]="buildingFG" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="example-container">
            <mat-form-field>
                <input id="building-name" matInput placeholder="Nombre" formControlName="name">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <a *ngIf="buildingId" mat-button routerLink="/buildings">Cancelar</a>
        <a *ngIf="!buildingId" mat-button mat-dialog-close>Cancelar</a>
        <button id="save-building-btn" type="subtmit" mat-button [disabled]="buildingFG.invalid"
            [mat-dialog-close]="true" cdkFocusInitial>
            <span *ngIf="!buildingId">Agregar</span>
            <span *ngIf="buildingId">Editar</span>
        </button>
    </mat-dialog-actions>
</form>