<h2 mat-dialog-title *ngIf="type == 'new'">Agregar departamento</h2>
<h2 mat-dialog-title *ngIf="type != 'new'">Editar departamento</h2>
<form [formGroup]="flatFG" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="name">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <a *ngIf="flatId" mat-button routerLink="/buildings">Cancelar</a>
        <a *ngIf="!flatId" mat-button mat-dialog-close>Cancelar</a>
        <button type="subtmit" mat-button [mat-dialog-close]="true" cdkFocusInitial>
            <span *ngIf="!flatId">Agregar</span>
            <span *ngIf="flatId">Editar</span>
        </button>
    </mat-dialog-actions>
</form>