<h2 mat-dialog-title *ngIf="type == 'new'">Agregar cuenta</h2>
<h2 mat-dialog-title *ngIf="type != 'new'">Editar cuenta</h2>
<form [formGroup]="billFG" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Descripción" formControlName="description">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <a mat-button mat-dialog-close>Cancelar</a>
        <button type="submit" mat-button [mat-dialog-close]="true" cdkFocusInitial>
            <span *ngIf="type == 'new'">Agregar</span>
            <span *ngIf="type != 'new'">Editar</span>
        </button>
    </mat-dialog-actions>
</form>